{{ form_start(pinForm)}}
    {{ form_widget(pinForm )}}
    <div class="d-grid gap-2">
        <input type="submit" value="{{submitButtonText|default("Créer un nouveau Pin") }}"  formnovalidate class="btn btn-primary "/>
    </div>
{{ form_end(pinForm)}}
