{% extends 'base.html.twig' %}

{% block title 'Edit Pin #' ~ pin.id %}

{% block body %}
    <h1>Edit Pin # {{pin.id}} </h1>
    {{ form_start(editPin)}}

        {{ form_widget(editPin )}}
        <input type="submit" value="Editer le Pin" />
    {{ form_end(editPin)}}

{% endblock %}