{% extends 'layouts/base.html.twig' %}

{% block title 'Admin Page' %}
{% block body %}
    Pins index, role admin necessary
    filter des actions visible uniquement pour certains utilisateurs. 
    {% if is_granted('ROLE_ADMIN') %}
        <p> paragraph réservé aux adminstrateur</p>
    {% endif %}
{% endblock %}
